<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBP2ChfyHoyiVkfe5S49ouaFunhahvz35Y</string>
	<key>GCM_SENDER_ID</key>
	<string>138319309251</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.myApp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>csu-chico-cins467-assignment-6</string>
	<key>STORAGE_BUCKET</key>
	<string>csu-chico-cins467-assignment-6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:138319309251:ios:f9a10fbcfb0505acbcf576</string>
</dict>
</plist>